.profile-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  border: 2px solid var(--border);
}

.resume-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid var(--border);
  text-decoration: none;
  font-size: 13px;
  color: var(--text);
}
